body {
    background-color: #222831;
    margin: 0;
    padding: 0;
    border: 0;
}

#header-break {
    width: 100%;
    height: 1px;
    background-color: #00adb5;
    margin: 0;
    border: 0;
    padding: 0;
}

div#header {
    position: relative;
    height: 80px;
}

svg#header {
    display: block;
    float: left;
}

button#reload {
    margin: 0;
    margin-right: 20px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: right;
    height: 56px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: #eeeeee;
    background-color: #00adb5;
    border: 0px;
    width: 110px;
    font-size: 20px;
}
